name: stable-check

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  stable-check:
    strategy:
      matrix:
        os: ["ubuntu-latest","macos-latest", "windows-latest"]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    continue-on-error: false
    steps:
      - uses: actions/checkout@v4

      - name: install
        uses: ./.github/actions/setup

      - name: check
        run: moon check --deny-warn --target all

      - name: moon info
        run: |
          moon info --target wasm,wasm-gc,js,native
          git diff --exit-code

      - name: format diff
        run: |
          moon fmt
          git diff --exit-code

      - name: run tests
        uses: ./.github/actions/test

      - name: moon bundle
        run: moon bundle --all

      - name: check core size
        if: ${{ matrix.os != 'windows-latest' }}
        run: find ./target -name '*.core' | xargs ls -lh

      - name: check core size on windows
        if: ${{ matrix.os == 'windows-latest' }}
        run: Get-ChildItem -Path ".\target" -Recurse -Filter "*.core" | ForEach-Object { "{0} ({1} bytes)" -f $_.FullName, $_.Length }

  stable-native-opt-test:
    strategy:
      matrix:
        os: ["ubuntu-latest","macos-latest", "windows-latest"]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    continue-on-error: false
    steps:
      - uses: actions/checkout@v4

      - name: install
        uses: ./.github/actions/setup

      - name: check
        run: moon check --target native --deny-warn

      - name: run native release tests
        uses: ./.github/actions/test-native-release
